<script>
function toggleImport() {
  $("#products_import_modal").toggle();
}
</script>

<style type="text/css">
  #products_import_modal {
    position: absolute;
    right: 1em;
    top: 1em;
    height: 12em;
    width: 30em;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    
    z-index: 2;
  }

  #close_product_import_modal {
    background-color: black;
    border-radius: 4px;
    color: white;
    font-weight: bold;
  }

  div.modal_title {
    font-weight: bold;
    font-size: 1.25em;
  }
</style>

<%= button_link_to I18n.t('import'), '#', onclick: 'toggleImport()' %>

<div id="products_import_modal" style="display: none;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-8 text-left modal_title">Import Products File</div>
      <div class="col-4 text-right">
        <%= button_link_to 'X', '#', onclick: 'toggleImport()', id: 'close_product_import_modal' %>
      </div>
    </div>
    <div class="row">
      <div class="ml-2 col-9 text-truncate"><%= file_field_tag I18n.t('file_name') %></div>
      <div class="mr-2 col-2"><%= button_link_to I18n.t('upload'), '#', onclick: 'uploadFile()', id: 'close_product_import_modal' %></div>
    </div>
    <div class="row p-2">
      <div id="products_import_progress" class="p-2 col-12 border border-success rounded">
        <div id="products_import_progress_percent" class="float-left pt-2">0%</div>
        <div class="float-right">
          <%= button_link_to I18n.t('cancel'), '#', onclick: 'uploadFile()', id: 'close_product_import_modal', class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>